<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous">
</script>
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container m-md-0">
        <a class="navbar-brand text-success" href="#">SiteSuptOnDemand</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-bookmark-o"></i> Bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-envelope-o"></i> Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-12">
                <h6 class="text-success text-center">Eliminating Paper Work So You Can Get Back To Building ...</h6>
            </div>
        </div>
        <div class="row p-md-5 login-box">
            <div class="col-md-1 p-md-0"></div>
            <div class="col-md-6 p-md-0">
                <img class="img-fluid d-block mx-auto" src="assets/img/site-location.jpeg"> </div>
            <div class="col-md-4 bg-primary">
                <div class="text-center pt-3"><img src="assets/img/thinking-engines.png"></div>
                <form method="POST" class="m-t-md m-5 pb-auto-5" ng-submit="lc.authenticate()">
                    <div class="form-group"> <label>Email / UserName</label>
                        <input ng-model='lc.user' type="text" class="form-control" placeholder="Email / User Name" required>
                    </div>
                    <div class="form-group"> <label>Password</label>
                        <input ng-model='lc.pwd' type="password" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-sm btn-success pull-right">Login</button>
                    <button class="btn btn-link pull-right font-size-12">Forgot Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>