<!DOCTYPE html>
<html lang="en">
<% include header %>

    <body>

        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="row navbar-row">
                <div class="navbar-header">
                    <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" href="#">ISiteWatch</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-lg fa-lock"></i>&nbsp; Login</a></li>
            <li class="dropdown hide">
              <a href="#" class="dropdown-toggle-no" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="user-menu">Guest</span> <span class="caret"></span></a>
              <ul class="dropdown-menu user-actions">
                <li><a href="/partner" class="user-home">My Page</a></li>
                <li><a href="#">Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/partner/logout">Logout</a></li>
              </ul>
            </li>
          </ul> -->
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>

        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="error-template">
                        <h3><b>Oops! An error occured.</b></h3>
                        <h4>Error Code :
                            <%= error.status %>
                        </h4>
                        <div class="error-details">
                            <h4>Message :
                                <%= message %>
                            </h4>
                        </div>
                        <div class="error-actions">
                            <br><br>
                            <br><br>
                            <a href="/" class="btn btn-default btn-md"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                            <a href="/" class="btn btn-app btn-md"><i class="fa fa-home"></i> &nbsp; Take Me Home </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include footer %>
    </body>

</html>