<link href="assets/css/custom.css" rel="stylesheet" />
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <i class="fa fa-navicon fa-inverse fa-lg"></i>
    </button>
            <a class="navbar-brand" href="#">iSiteWatch</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown {{nav==0?'active':''}}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Project: {{customer.customer_busname}}
                                                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="site in sites_info" ng-click="siteOnClick($event, site)"><a href="">{{site.site_name+", "+site.site_city}}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown {{nav==1?'active':''}}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Standard Reports
                                            <span class="caret"></span></a>
                    <ul class="dropdown-menu">{{dc.reports}}
                        <li ng-repeat="report in dc.reports" ng-click="siteOnClick($event, report)"><a href="">{{report}}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown {{nav==2?'active':''}}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Support
                                                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="mode in dc.support" ng-click="siteOnClick($event, mode)"><a href="">{{mode}}</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a data-target="#user_actions" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="user-name">{{user.user_name}}</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu" id="user_actions">
                        <li><a href="#profile">Profile</a></li>
                        <li><a href="#settings">Settings</a></li>
                        <li><a href="#change_password">Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->

    <ol class="breadcrumb">
        <li><a href="#home">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</nav>
<div class="container">
    <div class="site-name" ng-show="site_name"><i class="fa fa-map-marker"></i> {{site_name}}</div>

    <div class="row" id="locations-container" style="min-height: 250px;" ng-show="!location_history">
        <div class="col-md-3" ng-repeat="location in locations">
            <div class="card">
                <img ng-dblclick="locationOnClick($event, location)" class="card-img-top" src="{{location.image}}" alt="{{location.location_name}}">
                <div class="card-block card-img-overlay">
                    <span class="card-title app-color">{{location.location_name}}</span>
                    <!-- <p class="card-text">Sample Text</p> -->
                </div>
                <ul class="list-group list-group-flush hide">
                    <li class="list-group-item">
                        <span class="site-param"><i class="fa fa-tint"></i>  Humidity</span> : {{location.location_humidity | number:2}}%</li>
                    <li class="list-group-item">
                        <span class="site-param"><i class="fa fa-thermometer"></i>  Temperature</span> : {{location.location_temperature | number:2}} °F</li>
                    <li class="list-group-item">
                        <span class="site-param">Last Update</span> : {{location.location_lastupdate | date:'MMM dd, yyyy hh:mma Z'}}</li>
                </ul>
                <div class="card-footer">
                    <span class="pull-right">
                        <button class="btn-danger btn-rounded" ng-click="toggleLocationInfo($event)">
                            2
                        </button>
                        <button class="btn-info btn-rounded" ng-click="toggleLocationInfo($event)">
                            <i class="fa fa-lg fa-angle-double-down"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="locations-history" ng-show="location_history" style="max-height: 300px; overflow: scroll-y;">

        <div class="col-md-6">
            <link rel="stylesheet" type="text/css" href="assets/css/wowslider.css" />

            <div id="wowslider-container1">
                <div class="ws_images">
                    <ul>
                        <li ng-repeat="location in location_history"><img src="{{location.image}}" alt="{{site_name}}" title="{{site_name}}" id="wows1_{{ $index }}" />{{location.yyyy_mm_dd | limitTo: 10}} {{location.hhmm}}</li>
                    </ul>
                </div>
                <div class="ws_thumbs">
                    <div>
                        <a ng-repeat="location in location_history" href="#" title="{{site_name}}"><img src="{{location.image}}" alt="{{site_name}}" />{{ $index }}</a>
                    </div>
                </div>
                <div class="ws_shadow"></div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>